{% extends'base.html.twig' %}



{% block main %}

    <h1>Inscription<h1>
        <form method="post">
            <label>Pseudo: <input type="text" name="pseudo"/></label><br/>
            <label>Mot de passe: <input type="password" name="password"/></label><br/>
            <label>Confirmation du mot de passe: <input type="password" name="repeatPassword"/></label><br/>
            <label>Adresse e-mail: <input type="email" name="email"/></label><br/>
            <input type="submit" name="submit" value="M'inscrire"/>
        </form>



            {#<form method="post" action="">#}
                {#<p>Nom</p>#}
                {#<input type="text" name="Nom">#}
                {#<p>Prenom</p>#}
                {#<input type="text" name="Prenom">#}
                {#<p>email</p>#}
                {#<input type="email" name="email">#}
                {#<p>Password</p>#}
                {#<input type="password" name="password">#}
                {#<p>Répetez votre password</p>#}
                {#<input type="password" name="repeatpassword"><br><br>#}
             {##}

            {#</form>#}

            <?php

if (isset($_POST['submit']))
{
   {#/* on test si les champ sont bien remplis */#}
    if(!empty($_POST['pseudo']) and !empty($_POST['password']) and !empty($_POST['repeatPassword']) and !empty($_POST['email']))
    {
        {#/* on test si le mdp contient bien au moins 6 caractère */#}
        if (strlen($_POST['password'])>=6)
            {
            {#/* on test si les deux mdp sont bien identique */#}
            if ($_POST['password']==$_POST['repeatpassword'])
            {
            {#// On crypte le mot de passe#}
            $_POST['password']= md5($_POST['password']);
            {#// on se connecte à MySQL et on sélectionne la base#}
            $c = new mysqli("127.0.0.1","root","","root");
            {#//On créé la requête#}
            $sql = "INSERT INTO newclient VALUES ('".$_POST['id']."','".$_POST['pseudo']."','".$_POST['password']."','".$_POST['email']."')";

            {#/* execute et affiche l'erreur mysql si elle se produit */#}
            if(!$c->query($sql))
            {
            printf("Message d'erreur : %s\n", $c->error);
            }
            {#// on ferme la connexion#}
            mysqli_close($c);
            }
            else echo "Les mots de passe ne sont pas identiques";
            }
            else echo "Le mot de passe est trop court !";
            }
            else echo "Veuillez saisir tous les champs !";
            }
            ?>

{% endblock %}